manifest {
    name            = 'seqera-services/nf-test-asserter'
    author          = 'Jon Manning'
    homePage        = 'https://github.com/seqera-services/nf-test-asserter'
    description     = 'Run nf-test snapshot assertions inside a Seqera Platform compute environment, emitting only the .nf.test.snap file.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=25.10.0'
    version         = '0.1.0-alpha'
}

process {
    cpus   = 2
    memory = '4 GB'
    time   = '30 m'
}
